<h1>Available Swaps</h1>
<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<% @items.each do |item| %>
  <% if !item.is_used %>
	  <div class="entry">
		<%= image_tag(item.image) %>
		<div class="info">
			<h3><%= item.name %></h3>
			<h4><%= sanitize(item.description) %></h4>
			<% if (current_user) %>
				<%if (current_user.id != item.user_id) %>
					<h4><%= link_to 'Propose Swap', new_swap_path(item.id) %></h4>
					<% end %>
			<% end %>
		</div>
	  </div>
  <% end %>
<% end %>
