<!DOCTYPE html>
<html>
<head>
  <title>Pet Adoptions</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>
	<div id="banner">
		<%= image_tag("logo.gif", size: "48") %>
		<%= @page_title || "Pet Adoptions" %>
	</div>
	<div id="columns">
		<div id="side">
			<% if @selection %>
				<%= hidden_div_if(@selection.adopted_pets.empty?, id: 'selection') do %>
					<%= render @selection %>
				<% end %>
			<% end %>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/cats">Pet Listings</a></li>
				<% if current_user %>
				  <li><%= link_to "Edit Profile", edit_user_path(current_user.id) %></li>
				  <li><%= link_to "Logout", :logout, method: :post %></li>
				<% else %>
				  <li><%= link_to "Register", new_user_path %></li>
				  <li><%= link_to "Login", :login %></li>
				<% end %>
			</ul>
		</div>
		<div id="main">
			<%= yield %>
		</div>
	</div>
</body>
<footer>
  <p>Created By: Cool Dudes</p>
</footer>
</html>
