<h1>Completed Swaps</h1>

<table>
  <thead>
    <tr>
      <th>Original Item Name</th>
	  <th>Original Item Description</th>
	  <th class="image">Original Item Image</th>
      <th>Name</th>
      <th>Description</th>
      <th class="image">Image</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @swaps.each do |swap| %>
		<% @orig = @items.find(swap.item1) %>
		<% if (swap.completed) %>
		  <tr>
			<td><%= @orig.name %></td>
			<td><%= @orig.description %></td>
			<td class="image"><%= image_tag(@orig.image) %></td>
			<td><%= swap.name %></td>
			<td><%= swap.description %></td>
			<td class="image"><%= image_tag(swap.image) %></td>
		  </tr>
		<% end %>
    <% end %>
  </tbody>
</table>

<br>
