<h1>Listing swaps</h1>

<table>
  <thead>
    <tr>
      <th>Orig name</th>
      <th>Orig desc</th>
      <th>Orig image</th>
      <th>Swap name</th>
      <th>Swap desc</th>
      <th>Swap image</th>
      <th>Time</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @swaps.each do |swap| %>
      <tr>
        <td><%= swap.orig_name %></td>
        <td><%= swap.orig_desc %></td>
        <td><%= swap.orig_image %></td>
        <td><%= swap.swap_name %></td>
        <td><%= swap.swap_desc %></td>
        <td><%= swap.swap_image %></td>
        <td><%= swap.time %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
