<h1>Pending Swaps</h1>

<table>
  <thead>
    <tr>
      <th>Original Item Name</th>
	  <th>Original Item Description</th>
	  <th>Original Item Image</th>
      <th>Name</th>
      <th>Description</th>
      <th class="image">Image</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @swaps.each do |swap| %>
		<% if current_user %>
			<%if (!swap.completed) %>
				<% @orig = @items.find(swap.item1) %>
				<% if (current_user.id == @orig.user_id) %>
				  <tr>
					<td><%= @orig.name %></td>
					<td><%= @orig.description %></td>
					<td class="image"><%= image_tag(@orig.image) %></td>
					<td><%= swap.name %></td>
					<td><%= swap.description %></td>
					<td class="image"><%= image_tag(swap.image) %></td>
					<td><%= link_to 'Accept', complete_swap_swaps_path(:id => swap.id), confirm: "Are you sure?" %></td>
				  </tr>
			  <% end %>
			<% end %>
		<% end %>
    <% end %>
  </tbody>
</table>

<br>
