<p id="notice"><%= notice %></p>

<p>
  <strong>Item1:</strong>
  <%= @swap.item1 %>
</p>

<p>
  <strong>Name:</strong>
  <%= @swap.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @swap.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= @swap.image %>
</p>

<%= link_to 'Edit', edit_swap_path(@swap) %> |
<%= link_to 'Back', swaps_path %>
