<!DOCTYPE html>
<html>
<head>
  <title>Pet Adoptions</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>
	<div id="banner">
		<%= image_tag("logo.gif", size: "48") %>
		<%= @page_title || "Pet Adoptions" %>
	</div>
	<div id="columns">
		<div id="side">
			<% if @selection %>
				<%= hidden_div_if(@selection.adopted_pets.empty?, id: 'selection') do %>
					<%= render @selection %>
				<% end %>
			<% end %>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/cats">Pet Listings</a></li>
			</ul>
		</div>
		<div id="main">
			<%= yield %>
		</div>
	</div>
</body>
</html>
